body{
  background-image:url(http://img.1sucai.com/tuku/yulantu/110923/10016-1109230R31925.jpg);
  background-size: cover;
}
#pics{
position:absolute;
top:17%;
bottom: 50%;
left: 7%;
}
.detail{
  font-family: sans-serif;
  display:none;
    padding: 20px;
    text-align: left;
}
#startover{
  display:none;
  position:fixed;
  left:38%;
  bottom:9%;
}
